.about {
  background: $gradient-red;
  @media screen and (min-width: 1024px) {
    padding: 55px 0;
  }

  &__container {
    @extend .container;
    padding: 35px 12px 40px;
  }

  &__text {
    @extend .section-text;
    margin-bottom: 15px;
  }

  &__wrapper {
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.about__descr {
  @extend .section-text;
  text-align: center;
  margin-bottom: 20px;

  & .span {
    font-weight: bold;
    font-size: 15px;
  }
}

.about__list {
  list-style: disc;
  margin-left: 40px;

  & li {
    padding-left: 5px;
  }
}
