.category {
  background: $gradient-red;

  &__container {
    padding: 0 0 80px;
    margin: 0;
  }

  &__list {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__descr {
    padding: 0 10px;

    @media screen and (min-width: 768px) {
      padding: 50px 30px;
      height: 430px;
    }
  }
}

.category__list li {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    background-color: $pink-color;
  }
}

.category__list img {
  object-position: 100% -17px;

  @media screen and (min-width: 768px) {
    width: 394px;
    height: 430px;
  }

  @media screen and (min-width: 1024px) {
    width: 570px;
    height: 600px;
  }
}

.category__list {
  & .item-title {
    position: absolute;
    font-size: 25px;
    bottom: 3px;
    left: 45px;

    @media screen and (min-width: 1024px) {
      margin-top: 100px;
    }
  }

  & .section-text {
    font-size: 15px;
    text-align: center;
  }
}
