.coaches {
  background: $gradient-red;

  &__container {
    @extend .container;
    padding: 30px 0 15px;
  }

  &__text {
    @extend .section-text;
    text-align: center;
    margin-bottom: 30px;
  }

  &__span {
    font-style: italic;
  }

  &__descr {
    font-size: 15px;
    color: $white-color;
    text-align: center;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  & ul {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  & .item {
    @media screen and (min-width: 768px) {
      width: 350px;
    }
  }

  &__image {
    position: relative;
    @media screen and (min-width: 768px) {
      height: 460px;
    }
  }
}

.description {
  padding: 0 15px;
  margin-bottom: 40px;

  &__title {
    @extend .item-title;
    margin-top: 20px;
    position: absolute;
    bottom: 3px;
    left: 45px;

    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  & .section-text {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
}
