.footer {
  background-color: $background-color;
  padding: 25px 0 15px;
}

.footer__link {
  display: block;
  font-size: 14px;
  color: $footer-color;
  text-align: center;
  margin-bottom: 20px;

  &:nth-child(2) {
    margin-bottom: 10px;
  }

  &--place {
    font-size: 17px;
  }
}

.map {
  width: $main-width;
  display: block;
}

.copyright {
  font-size: 14px;
  color: $footer-color;
  text-align: center;
  margin: 0;
  margin-bottom: 7px;
}

.dev {
  @extend .copyright;
  display: block;
  font-size: 12px;
}
