.gallery {
  display: flex;
  margin-bottom: 40px;
}

.largeImg {
  height: 500px;

  @media screen and (min-width: 768px) {
    height: 945px;
  }

  &__wrapper {
    position: relative;
  }
}

.button__arrow {
  @extend %button;
  position: absolute;
  top: 45%;

  & svg {
    fill: $white-color;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
