.page-header {
  background-color: $black-color;
}

.header-content {
  width: 280px;
  height: 120px;
  padding: 12px 0;
  margin: $center-margin;
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &__text {
    position: relative;
    font-size: 20px;
    color: $white-color;
    margin-left: 10px;
  }
}

.nav-content {
  display: flex;
}

.auth-nav {
  padding-top: 5px;
  position: relative;

  &:before {
    @extend %line;
    width: 280px;
    top: 0;
    background-color: $white-color;
  }

  &__tel {
    display: block;
    font-size: 12px;
    color: $white-color;
    margin-top: 3px;
  }
}

.site-nav {
  margin-left: auto;
}
