.scroll {
  background: $gradient-red;

  &__container {
    background-color: $pink-color;
    border: 1px solid $black-color;
    border-radius: 20px;
    width: 285px;
    padding: 10px;
    margin: $center-margin;
    margin-top: 27px;
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
      width: 400px;
      padding: 18px;
    }
  }

  &__text {
    @extend .section-text;
    width: 205px;
    text-align: center;
    margin: $center-margin;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      width: 300px;
      font-size: 19px;
    }
  }
}

.scroll__span {
  display: block;
  font-weight: 600;
  font-size: 13px;
  color: $white-color;
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  &--invite {
    font-size: 17px;
    color: $black-color;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
}

.wrapper {
  list-style: disc;
  padding-left: 30px;

  & li {
    margin-bottom: 5px;
    padding-left: 5px;
  }

  &__text {
    @extend .section-text;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      font-size: 19px;
    }
  }

  &__span {
    font-weight: bold;
    font-style: italic;
  }
}
