.trainings {
  background: $gradient-red;
  padding: 35px 0;

  &__container {
    @extend .container;
    padding: 35px 15px 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      padding: 0 25px 25px;
      margin-bottom: 0;
      width: 490px;
    }
  }
}

.program {
  @media screen and (min-width: 768px) {
    margin-top: 55px;
  }

  &__title {
    @extend .item-title;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: none;
  }

  &__text {
    @extend .section-text;
    font-size: 15px;

    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &__image {
    @media screen and (min-width: 768px) {
      width: 500px;
      height: 560px;
    }

    @media screen and (min-width: 1024px) {
      width: 510px;
      height: 625px;
    }
  }
}

.program__list {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    text-align: center;
    list-style-position: inside;
  }

  & li {
    padding-left: 5px;
  }
}

// PRICE

.price {
  background-color: $background-color;
  padding-top: 30px;

  @media screen and (min-width: 1024px) {
    padding: 60px 50px;
  }

  &__title {
    @extend .section-title;
    padding-bottom: 30px;

    @media screen and (min-width: 1024px) {
      padding-bottom: 40px;
    }
  }

  &__link {
    display: block;
    @extend .white-text;
    width: max-content;
    padding: 10px 35px;
    margin-top: 15px;
    background-color: $background-color;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.price__list {
  background: $gradient-blue;
  padding: 30px 15px 10px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  & li {
    margin-bottom: 20px;
    padding-bottom: 25px;
    position: relative;

    @media screen and (min-width: 768px) {
      width: calc(100% / 3);
      height: 410px;
      padding: 0;
    }
  }

  & li::after {
    @extend %line;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: $background-color;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  & .text {
    @extend .section-text;
    padding-left: 15px;
    margin-top: 20px;
    font-size: 15px;
  }

  & .item-title,
  & .section-text,
  & .text {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
}
