body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  margin: 0;
}

.menu-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: $center-margin;
  padding: 35px 8px 40px;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }

  // @media screen and (min-width: 1140px) {
  //   width: 1140px;
  // }
}

// TITLE

.section-title {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  text-align: center;
  color: $white-color;
  text-shadow: $shadow-black;

  @media screen and (min-width: 768px) {
    font-size: 33px;
  }
}

.item-title {
  font-weight: bold;
  color: $black-color;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: $shadow-white;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}

.footer__title {
  color: $footer-color;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

// TEXT

.section-text {
  font-size: 15px;
  color: $black-color;
  margin: 0;
  line-height: 1.9;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.white-text {
  font-size: 13px;
  text-align: center;
  color: #fff;
  width: 245px;
  margin: $center-margin;

  @media screen and (min-width: 768px) {
    font-size: 19px;
    width: 370px;
  }
}

// LINE

%line {
  display: block;
  content: "";
  position: absolute;
  height: 1px;
  border-radius: 2px;
}

%button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

// BUTTON

.main-button {
  display: block;
  width: max-content;
  color: $black-color;
  font-size: 17px;
  text-align: center;
  padding: 7px 12px;
  margin: $center-margin;
  border-radius: 20px;
  border: 1px solid $black-color;
  background-color: $violet-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 30px;
  }
}
