$black-color: #000;
$white-color: #fff;
$pink-color: thistle;
$violet-color: violet;
$background-color: rgb(27, 27, 27);
$footer-color: rgb(231, 226, 225);

$gradient-red: linear-gradient(#f64f59, #c471ed, #12c2e9);
$gradient-blue: linear-gradient(#12c2e9, #c471ed, #f64f59);

$shadow-black: #000 -1px -1px 0px, #000 -1px 1px 0px, #000 1px 1px 0px,
  #000 1px -1px 0px;
$shadow-white: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px,
  #ffffff 1px -1px 0px;
$shadow-text: 5px 4px 2px rgba(0, 0, 0, 0.4);

$main-width: 320px;

$center-margin: 0 auto;
